*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
  background-color: #000;  
}
.logo{
    cursor: pointer;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://img.collegepravesh.com/2016/01/NIEC-Delhi.jpg);
    background-position: center;
    background-size: contain;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}
nav h2{
    color: #E92A4C;
    font-weight: 500;
    font-size: 40px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}
nav img{
    width: 70px;
}
.container{
    padding: 0 7%;
}
h1{
    text-align: center;
    padding-top: 10%;
    color: #fff;
    font-family: 500;
    font-size: 2.5vw;
    margin-bottom: 4%;
}
.some-text{
    margin-bottom: 4%;
}
.some-text h2{
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}
.sub-title{
    padding: 20px 0;
    color: #fff;
}

/* -------------------1st semester---------------------------- */
.sem{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.sem div img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.sem div{
    position: relative;
}
.sem div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.sem a{
    text-decoration: none;
    color: #fff;
}
.sem img:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
/* ----------about-msg------------------- */
.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #fff;
    font-size: 17px;
}
.about-msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}
/* -------------footer------------------- */
.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #fff;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;
    color: #fff;
}
.active{
    position: relative;
}
.active::after{
    content: '';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
nav .fa-bars{
    display: none;
}
/* --------------manufacturing process--------- */
.mp{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-gap: 10px;
    margin-bottom: 30px;
}
.mp div img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.mp div{
    position: relative;
}
.mp div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.mp a{
    text-decoration: none;
    color: #fff;
}
.mp img:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
#sub-title p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10%;
}
/* ---------for small screen---------- */
@media only screen and (max-width: 700px){
    .logo{
        position:fixed;
        top: 14px;
        left: 7%;
    }
    .header{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://img.collegepravesh.com/2016/01/NIEC-Delhi.jpg);
        background-size: cover  ;
        background-position: center;
    }
    nav h2{
        position:fixed;
        top: 4%;
        left: 7%;
    }   
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }
    .container h1{
        margin-top: 14%;
    }
    .some-text{
        margin-top: 20px;
    }
    .some-text p{
        color: #fff;
        font-size: 15px;
        text-align: center;
    }
    .some-text h2{
        font-size: 18px;
    }
    .active ::after{
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    .about-msg {
        font-size: 15px;
    }
    .sem{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 15px;
        margin-bottom: 30px;
    }
    .sem span h3{
        font-size: 15px;
    }
    #sub-title p{
        margin-bottom: 20%;
    }







}
